
.column {
    width:fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    color:purple;
    background-color: orange;   
}

.section {
    display: flex;
    justify-content: center;
    width: 100vw;
}