
.column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-end;
    color:chocolate
}

.row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    color:purple;
    background-color: orange;
    
}